@model IEnumerable<Movie_Origination_System_Mvc.Models.Director_details>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie_Director_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie_Director_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie_Director_Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie_Director_Occupations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Director_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Director_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Director_Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Director_Occupations)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Movie_Director_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Movie_Director_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Movie_Director_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
